// ------------------------------------------------
// Chart module
// ------------------------------------------------ //

.m-chart {
	&__title {
		margin-top: @global-layout-spacing;
		font-weight: bold;
	}

	// Chart list
	// ------------------------------------------------

	&-list {
		&__item {
			margin-top: @global-layout-spacing / 2;
			background-color: @color-gray-lighter;
			padding: @global-layout-spacing / 2 @global-layout-spacing * 2;
			border-radius: 10px;
		}

		&__date {
			margin-right: @global-layout-gutter;
		}

		&__city {
			margin-right: @global-layout-gutter;
		}
	}

	// Chart graph
	// ------------------------------------------------

	&-graph {
		&__wrapper {
			padding: @global-layout-spacing * 2 0;
			margin-top: @global-layout-spacing / 2;
			border: 2px solid @color-black;
			text-align: center;
			border-radius: 10px;
		}

		.line {
			fill: none;
			stroke: @color-brand-primary;
			stroke-width: 5px;
			position: relative;
		}

		.axis {
			fill: @color-brand-primary;
			opacity: 1;

			line,
			path {
				fill: none;
				stroke: @color-gray-light;
				shape-rendering: crispEdges;
			}

			text {
				font-size: 14px;
			}
		}

		.y-grid {
			stroke: @color-gray-light;
			opacity: 1;

			.domain {
				stroke: none;
			}

			.tick {
				line,
				path {
					stroke: @color-gray-light;
				}
			}
		}
	}
}
