// ------------------------------------------------
// Form module
// ------------------------------------------------ //

.m-form {
	padding: @global-layout-spacing * 2;
	margin-top: @global-layout-spacing / 2;
	background-color: lighten(@color-gray-light, 10%);
	background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, @color-gray-light 15px, @color-gray-light 30px);
	display: block;
	border: 2px solid @color-black;
	border-radius: 10px;
	transform: all .3s;
	position: relative;
	z-index: 1;

	&.is-sent {
		background-color: lighten(@color-brand-primary, 30%);
		background-image: repeating-linear-gradient(-45deg, transparent, transparent 15px, lighten(@color-brand-primary, 20%) 15px, lighten(@color-brand-primary, 20%) 30px);

		.m-form__form {
			transform: translateX(300px);
			opacity: 0;
		}

		.m-form__current-email {
			display: inline-block;
		}
	}

	&__form {
		display: inline-block;
		opacity: 1;
		position: relative;
		z-index: 1;
		transition: all 1s;
	}

	&__group {
		display: inline-block;

		@media (max-width: @screen-xs-max) {
	       	display: block;
			margin-bottom: @global-layout-gutter;
	    }
	}

	&__info {
		color: @color-white;
		background: red;
		padding: 3px 10px;
		margin-bottom: 10px;
		font-size: .75em;
		opacity: 0.75;
		border-radius: 5px;
		position: absolute;
		right: -20px;
		bottom: 100%;
		z-index: 2;
		animation-name: blink;
		animation-duration: 1s;
		animation-iteration-count: infinite;

		&:after {
			content: "";
			width: 10px;
			height: 10px;
			margin-left: -5px;
			background: red;
			transform: rotate(45deg);
			display: block;
			position: absolute;
			left: 50%;
			bottom: -5px;
			z-index: 10;
		}
	}

	&__label {
		margin-right: @global-layout-gutter / 3;
		font-size: .85em;
		color: @color-black;

		@media (max-width: @screen-xs-max) {
	       	display: block;
	    }
	}

	&__input {
		padding: 2px 5px;
		width: 200px;
		margin-right: @global-layout-gutter / 3;
		height: 32px;
		border-radius: 5px;
		border: 3px solid @color-black;
		background: linear-gradient(#f6f6f, #eee);
		outline: none;
		transition: all .3s;

		&:focus,
		&:hover {
			border-color: @color-brand-primary;
			outline: none;
			animation-name: bip;
			animation-duration: .3s;
		}
	}

	&__button {
		padding: 4px 10px;
		border: none;
		border-radius: 2em;
		background: @color-black;
		color: #fff;
		transition: all .3s;
		cursor: pointer;

		&:focus,
		&:hover {
			background-color: @color-brand-primary;
			outline: none;
			animation-name: bip;
			animation-duration: .3s;
		}
	}

	&__current-email {
		margin-left: @global-layout-gutter * 2;
		display: none;
		font-weight: bold;
		animation-name: blink;
		animation-duration: 1s;
		animation-iteration-count: infinite;
	}
}

@keyframes bip {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.05);
	}

	75% {
		transform: scale(0.95);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes blink {
	0% {
		transform: scale(0.9);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(0.9);
	}
}
